

<div class="header">
    <div class="container clearfix">
        <h1 <p id="logo">Da Brain</p> </h1>
        <nav>
        </nav>
    </div>
</div>

        <div id="contentliquid"><div id="content">
      <h1>Your questions:</h1>

        <%if logged_in? %>
        <%questions = Question.all%>
        <%questions.each do |question|%>
        <br>

        <%if question.user_id == session[:user_id]%>
        <p><%=question.question_title %></p>
        <%end%>
        <%end%>
        <%end%>



</form>
       </div></div>
        <div id="leftcolumn">
            <p>Ask Da Brain a question!</p>
            <form method="post" action="/specific">
                <input type=text placeholder="Ask Da Brain" name="specific_question"><br>
                <input type=submit value="Search!">
            </form>
        </div>
        <div id="rightcolumn">
        <h1>Your answers:</h1>

        <%if logged_in? %>
        <%answers = Answer.all%>
        <%answers.each do |answers|%>
        <br>
        
        <%if answers.user_id == session[:user_id]%>
        <p><%=answers.answer_body %></p>
        <%end%>
        <%end%>
        <%end%>
            <div class="gradient"></div>

        </div>
        <div id="footer">
            <p>Da Brain (c) 2016</p>
        </div>
    </div>





